{% extends 'base.html' %}

{% block content %}

<h1 class="text-xl py-4 font-bold">Songs</h1>
	<ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
    <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
      <a href="/play-genre/Jazz" class="w-full flex items-center justify-between p-6 space-x-6">
        Jazz
      </a>
    </li>
    <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
      <a href="/play-genre/Christmas" class="w-full flex items-center justify-between p-6 space-x-6">
        Christmas
      </a>
    </li>
    <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
      <a href="/play-genre/Classical" class="w-full flex items-center justify-between p-6 space-x-6">
        Classical
      </a>
    </li>
    <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
      <a href="/play-genre/Joplin" class="w-full flex items-center justify-between p-6 space-x-6">
        Ragtime
      </a>
    </li>
    <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
      <a href="/play-genre/Gershwin" class="w-full flex items-center justify-between p-6 space-x-6">
        George Gershwin
      </a>
    </li>

    <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
      <a href="/play-genre/Berlin" class="w-full flex items-center justify-between p-6 space-x-6">
        Irving Berlin
      </a>
    </li>
  </ul>
{% endblock %}
