amqp==5.0.2
asyncio==3.4.3
bidict==0.21.2
billiard==3.6.3.0
celery==5.0.4
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
dnspython==1.16.0
eventlet==0.29.1
Flask==1.1.2
greenlet==0.4.17
idna==2.10
importlib-metadata==3.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
kombu==5.0.2
MarkupSafe==1.1.1
mido==1.2.9
prompt-toolkit==3.0.8
python-engineio==4.0.0
python-rtmidi==1.4.6
python-socketio==5.0.1
pytz==2020.4
redis==3.5.3
requests==2.25.0
six==1.15.0
urllib3==1.26.2
vine==5.0.0
wcwidth==0.2.5
Werkzeug==1.0.1
zipp==3.4.0
gunicorn==19.9.0

